@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 62.5%;
  line-height: 1;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

.img-container {
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  height: 70rem;
  max-width: 100%;
  background-position: center;
  position: relative;
}

.hero-section {
  background-color: #f5f2eb;
}

.nav-contents {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-text:link,
.nav-text:visited {
  text-decoration: none;
  padding: 1rem;
  background-color: #1d120c;
}

.nav-text:hover,
.nav-text:active {
  background-color: #9d5c0d;
}

.nav-text {
  font-size: 1.2rem;
  color: #f5f2eb;
  font-weight: 200;
  transition: all 0.3s;
}
.primary-heading {
  position: absolute;
  left: 40%;
  top: 9%;
  font-size: 4.4rem;
  font-weight: 300;
  color: #1d120c;
  text-align: center;
  text-transform: uppercase;
}

.our-story {
  background-color: #f5f2eb;
  text-align: center;
  position: relative;
}

.heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #1d120c;
  text-align: center;
}

.story-text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 2rem;
}

.white-cup {
  position: absolute;
  width: 15%;
  right: 5%;
  bottom: 12%;
}

.padding-top {
  padding-top: 4rem;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.vertical-align {
  justify-self: end;
}

.menu-img img {
  width: 5rem;
}

.our-menu {
  background-color: #eee7dd;
  position: relative;
}

.products {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.products p {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.menusub-heading {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.cookie img {
  width: 20%;
  position: absolute;
  top: 5%;
  left: -5%;
}

.coffee-beans img {
  position: absolute;
  width: 25%;
  right: 3%;
  bottom: -5%;
}

.menu-para {
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0;
  line-height: 1.6;
}

.our-products {
  background-color: #f5f2eb;
  padding-bottom: 5rem;
}

.product-img img {
  width: 100%;
  background-color: #eee7dd;
}

.product-contents {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  width: 80rem;
  margin: 0 auto;
}
.product-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
}

/* .packaging-products {
  border: 1px solid #3333351a;
  border-radius: 5px;
  padding: 1rem;
} */

.btn {
  display: block;
  width: 45%;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: #f5f2eb;
  border: 1px solid #555;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #333335;
  color: #fff;
}

.product-price {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #ddad28;
}

.section-form {
  background-color: #eee7dd;
}

.form-text {
  display: inline-block;
  padding: 0.8rem;
  border: 1px solid #1d120c;
}

.form-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  padding-bottom: 3rem;
}

.form-text::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.form-text[type="date"] {
  width: 21%;
  font-size: 1rem;
}

.column-span {
  grid-column: span 2;
  margin: 0 auto;
}

.message[type="text"] {
  width: 27rem;
  height: 5rem;
}

.section-testimonial {
  background-color: #f5f2eb;
}

.customer-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: #1d120c;
}

.customers {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 4rem;
}

.customer {
  background-color: #eee7dd;
  padding: 2rem;
}

.customer-name {
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 1rem;
}

.coffee-beans-2 {
  background-image: url(./img/coffee-beans-.jpg);
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center-box {
  width: 75rem;
  background-color: #000;
  position: absolute;
  left: 18%;
  top: 15%;
  padding: 2rem;
  text-transform: uppercase;
  line-height: 1.4;
  border: 2px solid transparent;
  outline: 2px dashed #ddad28;
  outline-offset: -1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.title {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 2rem;
}
.sale {
  font-size: 2.6rem;
  color: #fff;
}

.perc {
  color: #ddad28;
}

.sale-img img {
  width: 100%;
}

.center-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.our-blog {
  background-color: #f5f2eb;
  padding-bottom: 4rem;
}

.blog-content {
  width: 75rem;
  margin: 0 auto;
}

.card img {
  width: 100%;
}
.blog-text {
  padding-top: 1rem;
}

.blog-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1d120c;
  padding-bottom: 1rem;
}

.blog-para {
  font-size: 1rem;
  line-height: 1.6;
  padding-bottom: 1rem;
}

.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.menu-para-1 {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0;
  line-height: 1.6;
}
